@import '../../index.scss';

.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px 1fr 1fr;
    margin-left: 8%;

    @include breakpointMax(lg){
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 350px 150px 10fr 200px;
    }

    @include breakpointMax(sm){
        margin: 0;
        grid-template-rows: 1fr 150px 1fr 200px;
    }

    &-content{
        @include breakpointMax(lg){
            margin: 0 10%;
        }

        @include breakpointMax(sm){
            margin: 0 5%;
        }
        
        p:first-child{
            color: #FF9900;
            font-family: $Dm-Sans;
            font-weight: bold;
            font-size: 1.375rem;
            line-height: 1.8125rem;

            @include breakpointMax(lg){
                font-size: 1.2rem;
            }

            @include breakpointMax(sm){
                font-size: 1rem;
            }
        }

        &__text{
            font-style: normal;
            font-weight: normal;
            font-size: 1.0625rem;
            line-height: 23px;
            letter-spacing: 0.01em;
            color: #31353B;
            width: 95%;
            margin-bottom: 3rem;

            @include breakpointMax(sm){
                font-size: 0.9rem;
            }
        }

        &__heading{
            color: #000000;
            font-style: normal;
            font-weight: 800;
            font-size: 3.375rem;
            line-height: 4.5625rem;
            padding: 1.5rem 0;

            @include breakpointMax(lg){
                font-size: 3rem;
                line-height: 3.8rem;
            }
        }
        
        
        &__input{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column: 1/3;
            grid-row-start: 2;

            @include breakpointMax(lg){
                grid-template-columns: 3fr 1fr;
                margin: 0 10%;
            }

            @include breakpointMax(sm){
                margin: 0 5%;
            }

            &__main{
                display: flex;
                align-items: center;
                height: 5.375rem;
                box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
            }

            &__img{
                margin: 0 1rem;
                height: 1.25rem;
            }

            input{
                width: 80%;
                height: 5rem;
                outline: none;
                z-index: 10;

                @include breakpointMax(md){
                    width: 70%;
                }
            }

            &__btn{
                color: #FFFFFF;
                font-size: 1.0625rem;
                font-weight: bold;
                letter-spacing: 0.02rem;
                line-height: 1.4375rem;
                z-index: 10;
                width: 9.375rem;
                height: 5.375rem;
                background: $orange;

                @include breakpointMax(md){
                    font-size: 0.85rem;
                    width: 100%;
                }
            }
        }
    }

    &-container{
        display: flex;
        grid-column: 2/3;
        grid-row: 1/3;

        @include breakpointMax(lg){
            justify-content: center;
            position: relative;
            grid-column-start: 1;
            grid-row-start: 3;
        }

        @include breakpointMax(sm){
            height: 80%;
        }

        img{
            height: 80%;

            @include breakpointMax(lg){
                height: 70%;
                margin: auto 0 auto 4rem;
            }

            @include breakpointMax(md){
                width: 65%;
                margin: auto 0 auto 2rem;
            }
            
            @include breakpointMax(sm){
                width: 60%;
                height: auto;
            }
        }

        &__social{
            display: flex;
            flex-direction: column;
            margin-left: 4.875rem;
            align-self: center;

            @include breakpointMax(lg){
                margin: 0 2rem 0;
            }

            img{
                width: 20px;
                margin-bottom: 1.625rem;
            }
        }

        &__bg{
            height: 120vh;
            width: 35%;
            background: #C7FFFF;
            top: 0;
            right: 0;
            position: absolute;
            z-index: -1;

            @include breakpointMax(lg){
                height: 100%;
            }
        }
    }

    &-brand{
        display: flex;
        flex-direction: row;
        column-gap: 3.125rem;
        grid-column: 1/3;
        grid-row-start: 3;
        flex-wrap: wrap;
        
        @include breakpointMax(lg){
            grid-row-start: 4;
            grid-column: 1;
            align-items: center;
            justify-content: center;
            column-gap: 2rem;
        }
    }
}